name: Publish Docker images
on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron:  '0 3 * * 6'
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  libheif-python:
    name: Push Docker image to GitHub Packages
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6
        with:
          submodules: true
          fetch-depth: 0
      - name: Login to GitHub Packages Docker Registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
          logout: false
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0
      - name: Push to GitHub Packages
        uses: docker/build-push-action@v6.18.0
        with:
          push: true
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          context: .
          file: docker/Dockerfile
          tags: |
            ghcr.io/cmahnke/vintagereality-tools:latest
